mixin cardFeed(cardtitle, cardbody, cardpic, logo, link, bgcolor)
  a(href="#{link}" target="_blank")
    .card(style="background-color: #{bgcolor}")
      img.cardImg(src="#{cardpic}")
      .title
        h2.cardCont_Title #{cardtitle}
        p.cardCont_Body #{cardbody}
        .cardMiniLogo
          img.cardIcon(src="../../assets/img/icons/#{logo}")

#social_container
  //- div.stripe
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
  //-   div.color_3
  //-   div.color_1
  //-   div.color_2
    
  
  div.home_title
    h2.header_2 He posts stuff on...
    
div.back_alt
  .card_container
    .card.cflex.nullPoint(style="background-color: #E62017")
      include ../../assets/img/svgs/play.svg
      div.soon ...soon
    
    a(href="https://medium.com/@mubarakmarafa" target="_blank")
      .card.cflex(style="background-color: #01B875")
        include ../../assets/img/svgs/medium.svg
    
    
    +cardFeed('When Designers Jam', '48 hours. 48 hours to build a service. 48 hours to build a service that could potentially change the world. That’s, in a nutshell, what I walked in on last weekend. Just kidding. I bought a ticket. This was going to be my first ever design jam... Click for more.', '../../assets/img/gsj.png', 'medium.png', 'https://medium.com/@mubarakmarafa/when-designers-jam-3054e5b13f34#.s6ojplza1', '#f7be02')

    a(href="http://www.behance.net/mubarakmarafa" target="_blank")
      .card.cflex(style="background-color: #005CFF")
        include ../../assets/img/svgs/be.svg
    
    a(href="https://www.instagram.com/mobyfreerunner/" target="_blank")
      .S_card.cflex
        include ../../assets/img/svgs/insta.svg
        
    +cardFeed(' ', 'The obligatory TED Logo photo. Had an incredible time at #tedxhk this year, and of course met a ton of amazing people. #awesome #ted #hongkong #hkig #convention', 'https://scontent.cdninstagram.com/t51.2885-15/e35/15275705_630898543757425_3544866002376327168_n.jpg?ig_cache_key=MTM5NzYzNjc3NjQ5NTM3ODA4Ng%3D%3D.2', 'Instagram-logo.png', 'https://www.instagram.com/p/BNlZz5EB26m/?taken-by=mobyfreerunner', '#ffffff')
    
    +cardFeed(' ', '#colours', 'https://scontent.cdninstagram.com/t51.2885-15/e35/14350825_1764330157188771_48090581_n.jpg?ig_cache_key=MTM0MzM2ODcyNjQzNDU0Njk3NQ%3D%3D.2', 'Instagram-logo.png', 'https://www.instagram.com/p/BKkmr09gAUf/?taken-by=mobyfreerunner', '#ffffff')
    
    .ghostCard
    
    .ghostCard
  
